body {
    font-family: 'Roboto', sans-serif;
}

#mainCanvas {
    border: 1px solid black;
}

#infoBarContainer span, #infoBarContainer button {
    margin-right: 10px;
}

#editDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 300px; /*pls synchronize with textarea's min-size*/
    min-height: 100px; /*pls synchronize with textarea's min-size*/
    margin-top: -100px;
    margin-left: -250px;
    text-align: center;
    background-color: yellow;
    display: none;
}

textarea {
    background-color: yellow;
    min-height: 100px;
    min-width: 300px
}
