body {
    font-family: 'Roboto', sans-serif;
    /* margin: 0;
    padding: 0;
    border: 0; */
    overflow: hidden;
}

/* #mainCanvas {
    border: 1px solid black;
} */

#infoBarContainer span, #infoBarContainer button {
    margin-right: 10px;
}

#editDiv {
    position: fixed;
    top: 30%;
    left: 50%;

}

#commentContainer {
    list-style-type: none;
    padding: 0;
}

#commentContainer li {
    min-height: 28px;
}
.commentWrap {
    word-wrap: break-word;
}
#editForm {
    width: 400px
}

.delComment {
    height: 26px;
    width: 26px;
    float: right;
    margin: 0px;
    padding: 0px;
}

.checkbox {
    margin-right: 5px;
}

.editFormBtns {
    /* float: right; */
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
    /* display: block; */
    /* margin: 0; */
    padding: 0;
}

.textbox {
    margin-top: 0;
    margin-bottom: 1rem;
    min-height: 100px;
    width: 100%;
    border: 1px solid black;
}
#btnContainer {
    /* float: right;
    width: 70px; */
    text-align: center;
    margin-bottom: 10px;
}

.modal-title {
    margin: 0 auto;
}

textarea {
    /* background-color: yellow; */
    min-height: 100px;
    width: 300px
}

/* #canvasHeader {
    margin-top: 30px;
} */

/* #canvasTitle {
    display: inline-block;
    margin-left: 20px;
} */

#canvasTitle input {
    width: 700px;
    /* height: 70px; */
    border: none;
    color: black;
    font-size: 25px;
}

#canvasTitle ::placeholder {
    color: black;
    font-size: 25px;
}

 #canvasInfo {
    /* display: block;
    float: right;
    margin-right: 50px; */
    margin-top: 15px;
}

/* .designInfo {
    float: left;
    width: 300px;
} */

#headerContainer {
    opacity: 0.95;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#stickyInfo {
    display: inline-block;
}

#searchBar {
    display: block;
    float: right;
    width: 500px;
}