body {
    font-family: 'Roboto', sans-serif;
    /* margin: 0;
    padding: 0;
    border: 0; */
    overflow: hidden;
}

#mainCanvas {
    border: 1px solid black;
}

#infoBarContainer span, #infoBarContainer button {
    margin-right: 10px;
}

#editDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 370px; /*pls synchronize with textarea's min-size*/
    min-height: 100px; /*pls synchronize with textarea's min-size*/
    margin-top: -100px;
    margin-left: -250px;
    text-align: center;
    background-color: yellow;
    display: none;
}

.editFormBtns {
    float: right;
    width: 70px;
    display: block;
    margin: 0;
    padding: 0;
}

#btnContainer {
    float: right;
    width: 70px;
    text-align: center;
}

textarea {
    background-color: yellow;
    min-height: 100px;
    width: 300px
}

/* #canvasHeader {
    margin-top: 30px;
} */

/* #canvasTitle {
    display: inline-block;
    margin-left: 20px;
} */

#canvasTitle input {
    width: 700px;
    height: 70px;
    border: none;
    color: black;
    font-size: 40px;
}

#canvasTitle ::placeholder {
    color: black;
    font-size: 40px;
}

/* #canvasInfo {
    display: block;
    float: right;
    margin-right: 50px;
    margin-top: 10px;
}

.designInfo {
    float: left;
    width: 300px;
} */

#headerContainer {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
