#searchrResultModal {
    position: fixed!important;
    /* top: 2.5em!important; */
    /* left: 2em!important; */
    z-index: 10040;
    width: 600px;
    min-height: 200px;
    max-height: 600px;
    overflow: auto;
    overflow-y: auto;
}

#hiddenUpload {
    display: none;
}

#uploadPreview {
    max-height: 200px;
    overflow: scroll;
}

#uploadPreview img {
    margin: 20px;
    height: 60px;
    width: auto;
}

.modal-body {
    max-height: 300px;
    overflow: scroll;
}

.result img {
    /* max-width: 100px; */
    width: 100%;
    object-fit: scale-down;
}

.modal-backdrop {
    background-color: rgba(0,0,0,.0001) !important;
}