<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <header>
        <% include ./partials/canvasHeader %>
    </header>

    <div class="collapse" id="collapseSidepanel">
        <div class="card card-body position-fixed ml-2 mt-2 p-2 pt-3" id="sidepanel">
            <h5 class="card-title" id="sidepanel-title">Card title</h5>
            <div class="list-group list-group-flush" id="sidepanel-list">
            </div>
        </div>
    </div>

    <main>
        <canvas id="mainCanvas"></canvas>
        <div id="editDiv"></div>
    </main>


    <%# Page render script here %>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/fabric.src.js"></script>
    <script type="text/javascript" src="/js/jspdf.min.js"></script>
    <script type="text/javascript" src="/js/canvasControl.js"></script>
</body>

</html>