<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="/css/password.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="changePassword">
        <h2 class="title-b">Reset Password</h2>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Old Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="oldP">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">New Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="newP">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Confirm Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="confirmP">
            </div>
        </div>

        <div class="btnBox">
            <button type="button" class="btn btn-secondary btn-sm" id="submit">Submit</button>
        </div>
    </div>

	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        var oldPassword;

        $('body').ready(function() {
            $.ajax({
                type: "GET",
                url: "/pwd/get",
                success: function(data) {
                    oldPassword = data.pwd;
                }
            });
        })

        $('#submit').on('click', function() {
            const oldP = document.querySelector("#oldP").value;
            const pwd = document.querySelector("#newP").value;
            const confirmP = document.querySelector("#confirmP").value;

            if (oldP != oldPassword || pwd != confirmP) {
                alert("Cannot change password! Either old password does not match with record or new password does not match with confirm password.")
            } else {
                var send = {pwd}

                $.ajax({
                    type: "POST",
                    url: "/pwd/edit",
                    data: send,
                    success: function(data) {
                        if (data == 'true') {
                            alert("Successfully changed password!")
                        } else {
                            alert("Oops! An error occurred. Failed to change password.")
                        }
                    }
                });
            }
        })
    </script>
</body>
</html>
