<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/user.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>

<body>
    <%#<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
             <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div> 
        </div>
    </div>%>

    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-light" style="height: 110px" id="mainNav">
        <div class="container-fluid"><h1>Flourishing Business Canvas</h1>
            <ul class="nav navbar-nav ml-auto text-uppercase">
                <li class="nav-item ml-2">
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal" onclick="getProfile()">Profile</button>
                </li>
                <li class="nav-item ml-2">
                    <button type="button" class="btn btn-light" onclick="getLogin()">Log Out</button>
                </li>
            </ul>
        </div>
    </nav>

    <section class="text-center mb-4 " id="post-TwoRow">
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <!-- <script src="js/popup.js"></script> -->
</body>
</html>
<script type="text/javascript">
    "use strict"
    console.log("popup.js")
    let regTitle = []
    let regId =[]

    $(document).ready(() => {
            main();
            $("#post-TwoRow").css({top: $("#mainNav").height() + 20});
        });
        $(window).resize(() => {
            $("#post-TwoRow").css({top: $("#mainNav").height() + 20});
        });

    function getProfile() {
        window.location.href = '/profile'
    }

    function getLogin(){
    	window.location.href = '/login'
    	deleteAllCookies()
    }

    // Used to call functions after page is fully loaded.
    function main() {
        // send get request and set global arrays
        const user = Cookies.get('email');
        if (user == null){
            window.location.href = "/login"
        } else {
         $.ajax({
             type: "GET",
             url: "/library/get",
             success: function (data) {
                 regTitle = data.regTitle
                 regId = data.regId
                 console.log(regTitle)
         		 console.log(regId)
        		 renderFbc()
             }
         })
        }
    }

    function renderFbc() {
        const imgUrl = '/images/fbc.png'
        for (let i = 0; i < regId.length; i++) {
            const html = `
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4 post-column">
                <a id="${regId[i]}" class="canvasClick" style="cursor:pointer">
                    <div class="card shadow postCard">
                        <div class="image-constrain">
                            <img src="${imgUrl}" class="card-img-top post-img p-3">
                        </div>
                        <div class="card-body pt-0 text-center">
                            <h6 class="post-title font-weight-bold font-italic text-truncate">${regTitle[i]}</h6>
                        </div>
                    </div>
                </a>
            </div>`
            const rowNum = Math.ceil((i + 1) /4)
            if (i % 4 == 0) {
                $('#post-TwoRow').append(`<div id="row${rowNum}"class="row fadeIn post-row"></div>`)
            }
            $(`#row${rowNum}`).append(html)
        }
    }

    $('body').on('click', 'a.canvasClick', function() {
        console.log($(this)[0].id)
        const canvasId = $(this)[0].id
        console.log("print id")
        console.log(canvasId)
        const send = {canvasId}
        $.ajax({
            type: "POST",
            url: "/library/id",
            data: send,
            success: function (data) {
                if (data == 'true') {
                    window.location.href = '/canvas'
                } else {
                    console.log('fail')
                }
            }
        })

    })

   
    function removeMainSection() {
        $('section').html('')
    }

</script>