.changePassword {
    padding: 20px;
    width: 600px;
    margin: 50px;
}

.title-b {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-size: 18px;
    margin: 20px 0;
}

.btnBox {
    text-align: center;
}