<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/canvasHeader %>
    </header>

    <main>
        <canvas id="mainCanvas"></canvas>
        <div id="editDiv"></div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <%# Page render script here %>
    <script>
        var userName = '<%= userName%>';
        var userId = '<%= userId%>';
        var user = {
            userName: userName,
            userId: userId
        };
        var urlParams = mdUtils.urlParams(window.location.href);
        if (urlParams['id']) var canvasId = urlParams['id'];
        var editBoard = new EditBoard();
        var canvas = editBoard.canvas;
        var socket = editBoard.socket;
        var canvasCtnEl = editBoard.configBord.canvasCtnEl;
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/fabric.src.js"></script>
    <script type="text/javascript" src="/js/jspdf.min.js"></script>
    <script type="text/javascript" src="/js/canvasControl.js"></script>
</body>

</html>