<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <!-- <header>
        <% include ../partials/header %>
    </header> -->

    <main>
        <div class="fixed-top bg-light p-2 m-0 ml-2 mr-2 rounded-bottom" id="headerContainer">
            <div class="d-flex" id="canvasHeader">
                <div class="mb-2" id="canvasTitle">
                    <input class="p-0 pl-1 form-control  bg-light" type="text" placeholder="Flourishing Business Canvas">
                </div>
                <div class="ml-auto d-flex mt-0" id="canvasInfo">
                    <div class="designInfo ml-2">
                        <input class="form-control form-control" type="text" placeholder="Designed for:">
                    </div>
                    <div class="designInfo ml-2">
                        <input class="form-control form-control" type="text" placeholder="Designed by:">
                    </div>
                    <div class="designInfo ml-2">
                        <input class="form-control form-control" type="text" placeholder="Date:">
                    </div>
                </div>
                <div class="dropdown mt-0" id="exportBtn">
                    <button class="dropbtn">Export</button>
                    <div class="dropdown-content">
                        <a id="exportJson" onclick="exportJson()">Export as JSON</a>
                        <a id="exportSvg" onclick="exportSvg()">Export as SVG</a>
                        <a id="exportPng" onclick="exportPng()">Export as PNG</a>
                        <a id="exportPdf" onclick="exportPdf()">Export as PDF</a>
                    </div>
                </div>
            </div>

            <div id="stickyInfo">
                <div>
                    <input id='textInputBox' type="text" placeholder="Type content">
                    <button id="createBtn" onclick="createSticky()">New Sticky</button>
                    <button id="removeAllBtn" onclick="removeAll()">Remove All</button>
                    <button id="importBtn" onclick="importJson()">Import JSON</button>
                    <button id="whichBox" onclick="inWhichBox()">Which box?</button>
                </div>
                <div id="infoBarContainer">
                </div>
            </div>
            <div id="searchBar">
                <input id="searchContent" onclick="searchInCanvas()" class="form-control form-control" type="text"
                    placeholder="Search within the canvas">
                <div id="searchResult" class="list-group"></div>
            </div>
        </div>

        <canvas id="mainCanvas"></canvas>
        <div id="editDiv"></div>
    </main>

    <!-- <footer>
        <% include ../partials/footer %>
    </footer> -->

    <!-- Page render script here -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/fabric.src.js"></script>
    <script type="text/javascript" src="/js/jspdf.min.js"></script>
    <script type="text/javascript" src="/js/canvasControl.js"></script>
</body>

</html>